.px-message {
	display: none;
}

.px-message.px-show {
	display: inherit;
}

.px-message.px-hide {
	animation: fadeOut 3s;
}

@keyframes fadeOut {
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.px-message.px-absolute {
	position: absolute;
	margin-top: 2em;
	z-index: 2000;
	background-color: #fffa;
}

.px-info {
	color: #00f;
}

.px-error {
	color: #f00;
}

